@model IEnumerable<Tracker.Models.Issue>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zgłoszenia</h2>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Issue")'">Dodaj</button>
</p>
<hr />
@Html.Partial("_IssueTable")
