@model IEnumerable<Tracker.Models.User>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Użytkowników</h2>
<p>
    <div style="float: left; width: 80%;">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "User")'">Dodaj</button>
    </div>
    <div style="float: right; width: 20%;">
        <table>
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        @Html.Editor("searchString", null, new { htmlAttributes = new { @class = "form-control", } })
                    </td>
                    <td align="right">
                        <button type="submit" class="btn btn-secondary">Wyszukaj</button>
                    </td>
                }
            </tr>
        </table>
    </div><br />
</p><br />
<hr />
@Html.Partial("_UserTable")
